@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

html {
  background: url('../assets/background.png') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body {
  color: yellow;
  font-family: 'Rubik Microbe', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

main {
  background-color: #000;
  padding: 40px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.game-controls {
  text-align: center;
}

.start-button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: yellow;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid yellow;
  cursor: pointer;
}

.start-button:hover {
  color: greenyellow;
  font-size: 18px;
  border-color: greenyellow;
  transform: rotate(5deg);
}

.status {
  font-size: 22px;
}

.pad-container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  grid-gap: 5px;
  margin: 20px;
}

.pad-red {
  border-top-left-radius: 200px;
  background-color: red;
}

.pad-red:hover,
.pad-red:focus {
  background-color: #ff451a;
  transform: rotate(-5deg);
}

.pad-red:active,
.pad-red.activated {
  background-color: #ff5c36;
  transform: translateY(10px);
}

.pad-green {
  border-top-right-radius: 200px;
  background-color: green;
}

.pad-green:hover,
.pad-green:focus {
  background-color: #8cc218;
  transform: rotate(5deg);
}

.pad-green:active,
.pad-green.activated {
  background-color: #a0ea00;
  transform: translateY(10px);
}

.pad-yellow {
  border-bottom-right-radius: 200px;
  background-color: yellow;
}

.pad-yellow:hover,
.pad-yellow:focus {
  background-color: #ffb900;
  transform: rotate(5deg);
}

.pad-yellow:active,
.pad-yellow.activated {
  background-color: #ffca3d;
  transform: translateY(10px);
}

.pad-blue {
  border-bottom-left-radius: 200px;
  background-color: blue;
}

.pad-blue:hover,
.pad-blue:focus {
  background-color: #139ddd;
  transform: rotate(5deg);
}

.pad-blue:active,
.pad-blue.activated {
  background-color: #2bbcff;
  transform: translateY(10px);
}

.hidden {
  display: none;
}

.unclickable {
  pointer-events: none;
}